body{
    align-content: center;
}


form{
    background-color: blanchedalmond;
    border: cornsilk;
    border-radius: 8px;

}

p{
    font-family: Arial;
    text-align: center;
}

.campo{
    background-color: cyan;
 }

 .formas{
     text-align: center;
     align-content: center;
 }